<section class="section choise">
	<div class="container">
		<h2 class="section-title choise__title">
			Выбирая антифризы Felix, <br />
			вы выбираете качество, <br />
			надежность и безопасность.
		</h2>
		<p class="choise__subtitle">
			Чтобы у вас не осталось сомнений, ознакомьтесь с основными преимуществами
			продукта:
		</p>
		<ul class="choise__list">
			<li class="choise__item">
				<div class="choise__item-decor"></div>
				<img src="./../img/svg/choise-1.svg" alt="" class="choise__icon" />
				<p class="choise__item-text">
					Соответствует международным стандартам <br />
					качества: ASTM D 3306, ASTM D 4985, ASTM D 6210,<br />
					KSM 2142, BS 6580, SAE J 1034, JIS K 2234;
				</p>
			</li>
			<li class="choise__item">
				<div class="choise__item-decor"></div>
				<img src="./../img/svg/choise-2.svg" alt="" class="choise__icon" />
				<p class="choise__item-text">
					Поставляется на автозаводы для первой конвейерной <br />
					заливки, в дилерские центры и автосервисы <br />
					для технического обслуживания;
				</p>
			</li>
			<li class="choise__item">
				<div class="choise__item-decor"></div>
				<img src="./../img/svg/choise-3.svg" alt="" class="choise__icon" />
				<p class="choise__item-text">
					Качество антифриза FELIX подтверждено в специализированной <br />
					американской лаборатории ABIC Testing Laboratories, INC;
				</p>
			</li>
			<li class="choise__item">
				<div class="choise__item-decor"></div>
				<img src="./../img/svg/choise-4.svg" alt="" class="choise__icon" />
				<div class="choise__item-wrapper">
					<p class="choise__item-text">
						Антифриз FELIX — самый используемый антифриз в России <br />
						на протяжении последних 5 лет*.
					</p>
					<span class="choise__item-source"
						>*источник – отчет «АВТОСТАТ Омнибус Антифризы»; размер выборки
						каждой волны <br />
						исследования – более 3000 респондентов; период проведения опросов –
						2019 – 2023 гг.)</span
					>
				</div>
			</li>
		</ul>
	</div>
</section>
