<div class="goods">
	<div class="container goods__slider-wrapper__arros">
		<div class="swiper goods__slider">
			<ul class="goods__slider-wrapper swiper-wrapper">
				<li class="swiper-slide goods__item">
					<div class="goods__item-shadow">
						<img
							src="./../img/good-1.png"
							alt="Антифриз FELIX CarboxG12+, красный"
						/>
						<div class="goods__item-bottom">
							<h3 class="goods__item-title">
								Антифриз FELIX CarboxG12+, красный
							</h3>
							<span class="goods__item-subtitle">Карбоксилатный (OAT)</span>
							<p class="goods__item-text">
								Карбоксилатный антифриз обладает увеличенным ресурсом
								эксплуатации – 250 000 км или 5 лет
							</p>
							<button class="btn goods__item-btn">Подробнее</button>
						</div>
					</div>
				</li>

				<li class="swiper-slide goods__item">
					<div class="goods__item-shadow">
						<img
							src="./../img/good-2.png"
							alt="
							Антифриз FELIX Energy G12+, желтый"
						/>
						<div class="goods__item-bottom">
							<h3 class="goods__item-title">
								Антифриз FELIX Energy G12+, желтый
							</h3>
							<span class="goods__item-subtitle">Карбоксилатный (OAT)</span>
							<p class="goods__item-text">
								Рекомендован для использования в грузовых автомобилях, тяжелой
								технике, тракторах, агротехнике, судах и лодках, стационарных
								двигателях.
							</p>
							<button class="btn goods__item-btn">Подробнее</button>
						</div>
					</div>
				</li>
				<li class="swiper-slide goods__item">
					<div class="goods__item-shadow">
						<img
							src="./../img/good-3.png"
							alt="Антифриз FELIX Prolonger G11, зеленый"
						/>
						<div class="goods__item-bottom">
							<h3 class="goods__item-title">
								Антифриз FELIX Prolonger G11, зеленый
							</h3>
							<span class="goods__item-subtitle">Гибридный (HOAT)</span>
							<p class="goods__item-text">
								Антифриз с усиленной антикоррозийной защитой деталей из легких
								сплавов и алюминия.
							</p>
							<button class="btn goods__item-btn">Подробнее</button>
						</div>
					</div>
				</li>
				<li class="swiper-slide goods__item">
					<div class="goods__item-shadow">
						<img
							src="./../img/good-4.png"
							alt="Антифриз FELIX Expert G11, синий"
						/>
						<div class="goods__item-bottom">
							<h3 class="goods__item-title">
								Антифриз FELIX Expert G11, синий
							</h3>
							<span class="goods__item-subtitle">Гибридный (HOAT)</span>
							<p class="goods__item-text">
								Рекомендован для круглогодичного использования в любых системах
								охлаждения легковых, грузовых автомобилей и спецтехники.
							</p>
							<button class="btn goods__item-btn">Подробнее</button>
						</div>
					</div>
				</li>

				<li class="swiper-slide goods__item">
					<div class="goods__item-shadow">
						<img
							src="./../img/good-5.png"
							alt="Антифриз FELIX DRAGON G12+, красный"
						/>
						<div class="goods__item-bottom">
							<h3 class="goods__item-title">
								Антифриз FELIX DRAGON G12+, красный
							</h3>
							<span class="goods__item-subtitle">Карбоксилатный (OAT)</span>
							<p class="goods__item-text">
								Рекомендован к заливке в автомобили Haval, Geely, Chery,
								Changan, GAC
							</p>
							<button class="btn goods__item-btn">Подробнее</button>
						</div>
					</div>
				</li>

				<li class="swiper-slide goods__item">
					<div class="goods__item-shadow">
						<img
							src="./../img/good-6.png"
							alt="Антифриз FELIX TYPE-D G12+, желтый"
						/>
						<div class="goods__item-bottom">
							<h3 class="goods__item-title">
								Антифриз FELIX TYPE-D G12+, желтый
							</h3>
							<span class="goods__item-subtitle">Карбоксилатный (OAT)</span>
							<p class="goods__item-text">
								Рекомендован к заливке в автомобили RENAULT, NISSAN.
							</p>
							<button class="btn goods__item-btn">Подробнее</button>
						</div>
					</div>
				</li>

				<li class="swiper-slide goods__item">
					<div class="goods__item-shadow">
						<img src="./../img/good-7.png" alt="Антифриз FELIX JDM, зеленый" />
						<div class="goods__item-bottom">
							<h3 class="goods__item-title">Антифриз FELIX JDM, зеленый</h3>
							<span class="goods__item-subtitle">Лобридный (P-OAT)</span>
							<p class="goods__item-text">
								Рекомендован к заливке в автомобили HYUNDAI, KIA, TOYOTA,
								NISSAN, MITSUBISHI, HONDA, MAZDA, SUZUKI, SUBARU, ISUZU.
							</p>
							<button class="btn goods__item-btn">Подробнее</button>
						</div>
					</div>
				</li>

				<li class="swiper-slide goods__item">
					<div class="goods__item-shadow">
						<img src="./../img/good-8.png" alt="Антифриз FELIX JDM, розовый" />
						<div class="goods__item-bottom">
							<h3 class="goods__item-title">Антифриз FELIX JDM, розовый</h3>
							<span class="goods__item-subtitle">Лобридный (P-OAT)</span>
							<p class="goods__item-text">
								Рекомендован к заливке в автомобили HYUNDAI, KIA, MITSUBISHI,
								MAZDA, TOYOTA.
							</p>
							<button class="btn goods__item-btn">Подробнее</button>
						</div>
					</div>
				</li>

				<li class="swiper-slide goods__item">
					<div class="goods__item-shadow">
						<img
							src="./../img/good-9.png"
							alt="Антифриз FELIX EVO G12++, фиолетовый"
						/>
						<div class="goods__item-bottom">
							<h3 class="goods__item-title">
								Антифриз FELIX EVO G12++, фиолетовый
							</h3>
							<span class="goods__item-subtitle">Лобридный (PSi-OAT) </span>
							<p class="goods__item-text">
								Рекомендован к заливке в автомобили VOLKSWAGEN, SKODA, AUDI,
								PORSCHE, SEAT.
							</p>
							<button class="btn goods__item-btn">Подробнее</button>
						</div>
					</div>
				</li>

				<li class="swiper-slide goods__item">
					<div class="goods__item-shadow">
						<img
							src="./../img/good-10.png"
							alt="Антифриз FELIX CARBOX SQ G12+"
						/>
						<div class="goods__item-bottom">
							<h3 class="goods__item-title">Антифриз FELIX CARBOX SQ G12+</h3>
							<span class="goods__item-subtitle">Карбоксилатный (OAT)</span>
							<p class="goods__item-text">
								Рекомендован для грузовой и специализированной техники
							</p>
							<button class="btn goods__item-btn">Подробнее</button>
						</div>
					</div>
				</li>

				<li class="swiper-slide goods__item">
					<div class="goods__item-shadow">
						<img
							src="./../img/good-11.webp"
							alt="Антифриз FELIX EVOLT, сине-зеленый"
						/>
						<div class="goods__item-bottom">
							<h3 class="goods__item-title">
								Антифриз FELIX EVOLT, сине-зеленый
							</h3>
							<span class="goods__item-subtitle">Карбоксилатный (OAT)</span>
							<p class="goods__item-text">
								Рекомендован к заливке в электромобили и автомобили с гибридным
								двигателем
							</p>
							<button class="btn goods__item-btn">Подробнее</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<button class="goods__slider-btn goods__slider-prev swiper-button-prev">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="23"
				height="47"
				viewBox="0 0 23 47"
				fill="none"
			>
				<path d="M22.177 0.999999L1 23.0753L22.1934 46.0632" stroke="#cd1338" />
			</svg>
		</button>
		<button class="goods__slider-btn goods__slider-next swiper-button-next">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="23"
				height="47"
				viewBox="0 0 23 47"
				fill="none"
			>
				<path
					d="M0.997323 0.999999L22.1743 23.0753L0.980894 46.0632"
					stroke="#cd1338"
				/>
			</svg>
		</button>
		<div class="swiper-pagination goods__slider-pagination"></div>
	</div>
</div>
