<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Felix</title>
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"
	/>
	<link href="https://vjs.zencdn.net/8.5.2/video-js.css" rel="stylesheet" />

	<script
		src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"
		defer
	></script>
	<script src="https://vjs.zencdn.net/8.5.2/video.min.js" defer></script>
	<link rel="stylesheet" href="css/vendor.css" />
	<link rel="stylesheet" href="css/main.css" />
	<script defer src="js/main.js"></script>
</head>
