<section class="lables">
	<div class="container">
		<h2 class="section-title lables__title">
			Купить FELIX напрямую от производителя
		</h2>
		<ul class="lables__list">
			<li class="lables__item">
				<a href="https://kazanexpress.ru" target="_blank" class="lables__link">
					<img
						class="lables__item-img"
						src="./../img/label-1.png"
						alt="Логотип магазина Kazan Express"
					/>
				</a>
			</li>
			<li class="lables__item">
				<a href="https://www.ozon.ru" target="_blank" class="lables__link">
					<img
						class="lables__item-img"
						src="./../img/label-2.png"
						alt="Логотип магазина Озон"
					/>
				</a>
			</li>
			<li class="lables__item">
				<a href="https://megamarket.ru" target="_blank" class="lables__link">
					<img
						class="lables__item-img"
						src="./../img/label-3.png"
						alt="Логотип магазина Сбер Мега Маркет"
					/>
				</a>
			</li>
			<li class="lables__item">
				<a
					href="https://www.wildberries.ru"
					target="_blank"
					class="lables__link"
				>
					<img
						class="lables__item-img"
						src="./../img/label-4.png"
						alt="Логотип магазина Вайлдбериз"
					/>
				</a>
			</li>
			<li class="lables__item">
				<a href="https://market.yandex.ru" target="_blank" class="lables__link">
					<img
						class="lables__item-img"
						src="./../img/label-5.png"
						alt="Логотип магазина Яндекс маркет"
					/>
				</a>
			</li>
		</ul>
	</div>
</section>
