<section class="recomendations">
	<div class="container">
		<div class="recomendations__inner">
			<div class="recomendations__content">
				<h2 class="section-title recomendations__title">
					АВТОСЕРВИСЫ РЕКОМЕНДУЮТ
				</h2>
				<p class="recomendations__text">
					Официальные дилерские центры, автосервисы и СТО выбирают антифризы
					FELIX для гарантийного и постгарантийного обслуживания автомобилей
				</p>
			</div>
			<div class="recomendations__slider-wrapper">
				<div class="recomendations__slider swiper">
					<div class="recomendations__slider-container swiper-wrapper">
						<div class="recomendations__slider-item swiper-slide">
							<a
								class="recomendations__slider-link"
								href="./../img/scan-1.jpeg"
								data-fancybox="gallery"
							>
								<img src="./../img/scan-1.jpeg" alt="Информационное письмо" />
							</a>
						</div>

						<div class="recomendations__slider-item swiper-slide">
							<a
								class="recomendations__slider-link"
								href="./../img/scan-2.jpeg"
								data-fancybox="gallery"
							>
								<img src="./../img/scan-2.jpeg" alt="Информационное письмо" />
							</a>
						</div>

						<div class="recomendations__slider-item swiper-slide">
							<a
								class="recomendations__slider-link"
								href="./../img/scan-3.jpeg"
								data-fancybox="gallery"
							>
								<img src="./../img/scan-3.jpeg" alt="Информационное письмо" />
							</a>
						</div>

						<div class="recomendations__slider-item swiper-slide">
							<a
								class="recomendations__slider-link"
								href="./../img/scan-4.jpeg"
								data-fancybox="gallery"
							>
								<img src="./../img/scan-4.jpeg" alt="Информационное письмо" />
							</a>
						</div>

						<div class="recomendations__slider-item swiper-slide">
							<a
								class="recomendations__slider-link"
								href="./../img/scan-5.jpeg"
								data-fancybox="gallery"
							>
								<img src="./../img/scan-5.jpeg" alt="Информационное письмо" />
							</a>
						</div>

						<div class="recomendations__slider-item swiper-slide">
							<a
								class="recomendations__slider-link"
								href="./../img/scan-6.jpeg"
								data-fancybox="gallery"
							>
								<img src="./../img/scan-6.jpeg" alt="Информационное письмо" />
							</a>
						</div>

						<div class="recomendations__slider-item swiper-slide">
							<a
								class="recomendations__slider-link"
								href="./../img/scan-7.jpeg"
								data-fancybox="gallery"
							>
								<img src="./../img/scan-7.jpeg" alt="Информационное письмо" />
							</a>
						</div>
					</div>
					<div class="recomendations__slider-navigation">
						<button
							class="recomendations__slider-btn recomendations__slider-navigation-prev swiper-button-prev"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="23"
								height="47"
								viewBox="0 0 23 47"
								fill="none"
							>
								<path
									d="M22.177 0.999999L1 23.0753L22.1934 46.0632"
									stroke="white"
								/>
							</svg>
						</button>
						<button
							class="recomendations__slider-btn recomendations__slider-navigation-next swiper-button-next"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="23"
								height="47"
								viewBox="0 0 23 47"
								fill="none"
							>
								<path
									d="M0.997323 0.999999L22.1743 23.0753L0.980894 46.0632"
									stroke="white"
								/>
							</svg>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
