<section class="section top">
	<a class="top__logo">
		<picture>
			<source
				media="(max-width: 1280px)"
				srcset="./../img/logo-small-desktop.png"
			/>
			<img src="./../img/logo.png" alt="Логотип компании Felix" />
		</picture>
	</a>
	<div class="container">
		<div class="top__inner">
			<h2 class="top__title">Профессиональный антифриз</h2>
			<span class="top__subtitle">Без вариантов</span>
			<p class="top__text">
				Настоящий профессионал не думает — он знает наверняка. Поэтому
				первоклассные автомеханики и истинные автолюбители выбирают антифриз
				FELIX!
			</p>
			<p class="top__text">
				Антифриз FELIX продлит режим работы системы охлаждения, увеличит
				мощность двигателя, сократит расход топлива и защитит ваш автомобиль от
				перегрева или переохлаждения.
			</p>
		</div>
	</div>
	<picture class="top__img">
		<source media="(max-width: 500px)" srcset="./../img/top-mobile.jpg" />
		<img src="./../img/top.jpg" alt="Бутылка антифриза Felix" />
	</picture>
</section>
