<section class="section video">
	<div class="video__gradient"></div>
	<div class="video__mask"></div>
	<div class="video__intro">
		<video id="video__player" class="video__player video-js" playsinline>
			<source src="./videos/video.mp4" type="video/mp4" />
			<source src="./videos/video.webm" type="video/webm" />
			<source src="./videos/video-ogg.ogg" type="video/ogg" />
		</video>
		<div class="container">
			<div class="video__inner">
				<button class="video__btn btn-reset">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="188"
						height="155"
						viewBox="0 0 188 155"
						fill="none"
					>
						<path
							d="M158.371 0.0478516H0.202423L29.6291 154.538H187.798L158.371 0.0478516Z"
							fill="white"
						/>
						<path
							d="M127.506 70.6282L79.2673 111.56L65.7358 44.1879L127.506 70.6282Z"
							fill="#1B2E44"
						/>
					</svg>
				</button>
				<h2 class="section-title video__title">
					Как отличить хорошего специалиста от профи?
				</h2>
				<p class="video__text">
					Первый предложит вам несколько вариантов решения проблемы, второй —
					единственно верное решение. Настоящие профессионалы знают наверняка,
					что FELIX — лучший антифриз, способный защитить ваш автомобиль от
					последствий, вызванных перепадом температур.
				</p>
			</div>
		</div>
	</div>
</section>
