@font-face {
	font-family: 'Roboto Flex';
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/Roboto-Flex.ttf');
}

@font-face {
	font-family: 'Roboto Flex';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/Roboto-Flex.ttf');
}

@font-face {
	font-family: 'Roboto Flex';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/Roboto-Flex.ttf');
}

@font-face {
	font-family: 'Roboto Flex';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Roboto-Flex.ttf');
}

@font-face {
	font-family: 'Roboto Flex';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/Roboto-Flex.ttf');
}
